# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Binaries und Build-Ordner
/bin/
/build/
*.exe
*.a
*.so
*.dll

# Editor-spezifische Dateien (z.B. VS-Code, CLion)
.vscode/
.vs/

# Dependencies (SFML etc.)
/libs/
dependencies/

# Große Assets (Sounddateien besser über Git LFS)
*.wav
*.mp3